.region-post-header
  margin-bottom: 40px

.horizontal-tabs-panes
  background-color: var(--gin-bg-layer)
  border-radius: 0 !important
  box-shadow: var(--gin-shadow-l1)
  padding: 20px

.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a
  border-radius: 0 !important

.is-horizontal .tabs--primary .tabs__link
  border-radius: 0 !important

#toolbar-administration-secondary
  display: none

body.toolbar-horizontal.toolbar-fixed
  padding-top: 39px

.toolbar-item-workbench-tray
  display: none !important