.region-post-header
  margin-bottom: 40px

.horizontal-tabs-panes
  background-color: var(--gin-bg-layer)
  border-radius: var(--gin-border-l)
  box-shadow: var(--gin-shadow-l1)
  padding: 20px

//.gin-secondary-toolbar,
//.gin--horizontal-toolbar .region-sticky
//  display: none

#toolbar-administration-secondary
  display: none

body.toolbar-horizontal.toolbar-fixed
  padding-top: 39px

//.content-header
//  margin-top: 50px