.messages-list
  .messages-list__item.messages
    border-radius: 0 !important

    .messages__header
      h2
        color: inherit !important

    &.messages--status
      background: #fcf8e3 !important
      color: #c09853 !important
      border: 1px solid #fbeed5 !important

    &.messages--warning
      background: #ff8741 !important
      color: #5a2400 !important
      border: 1px solid #e56a1f !important
      a
        color: darken(#5a2400, 10%) !important
        text-decoration: underline
        font-weight: bold

    &.messages--error
      background: #fef5f1 !important
      color: #8c2e0b !important
      border: 1px solid #ed541d !important

.alert
  padding: 15px
  margin-bottom: 20px
  border: 1px solid transparent
  border-radius: 0
  position: relative
  img
    vertical-align: middle
    margin-right: 10px

.alert-success
  background-color: #fcf8e3
  border-color: #fbeed5
  color: #c09853

.alert-warning
  background-color: #fff3cd
  border-color: #ffeeba
  color: #856404
  a
    color: darken(#856404, 10%)
    text-decoration: underline
    font-weight: bold

.alert-danger
  background-color: #f2dede
  border-color: #eed3d7
  color: #b94a48
  a
    color: darken(#b94a48, 10%)
    text-decoration: underline
    font-weight: bold

.close
  float: right
  font-size: 21px
  font-weight: 700
  line-height: 1
  color: #000
  text-shadow: 0 1px 0 #fff
  filter: alpha(opacity=20)
  opacity: .2
  text-decoration: none
  &:hover
    color: #000
    text-decoration: none
    cursor: pointer
    opacity: .5

.element-invisible
  position: absolute !important
  clip: rect(1px, 1px, 1px, 1px)
  overflow: hidden
  height: 1px
  width: 1px
  word-wrap: normal
