.block-actions-block-block
  width: 375px
  .actions
    .action
      margin: 5px 0
      a
        display: flex
        flex-wrap: nowrap
  .block-title-wrapper
    border-top: 1px solid $light-grey
    border-bottom: 1px solid $light-grey
    margin: 10px 0
    padding: 10px 0
    .block-title
      color: $light-green
      font-weight: 700
  .icon
    height: 100% !important
    margin-right: 15px
    min-width: 24px
    max-width: 24px
    max-height: 24px
    width: auto !important
  .semaphore
    max-width: 200px
  .edoovillage-status-open
    color: $light-red
    font-weight: 700
  .edoovillage-status-completed
    color: $light-green
    font-weight: 700
  .dropping-point
    font-weight: bold
    color: $lighter-red
    img
      width: 32px
      height: auto
  .sanitation-point
    font-weight: bold
    color: $lighter-blue
    img
      width: 32px
      height: auto

#block-labdoo-footerimage
  margin-top: 40px
  .field--name-body
    text-align: center

.dropbutton-widget
  .language-link, .dropbutton-toggle button
    background: none !important

#block-labdoo-languagedropdownswitcher
  position: absolute
  top: 0
  z-index: 999
  right: 45px
  @media only screen and (max-width: 1024px)
    position: relative
    right: 0
  .form-item
    margin-top: 7px

.block-views-exposed-filter-blocksearch-results-page-1
  width: fit-content !important

.mini-wiki-navigation
  .views-exposed-form
    display: block

#block-edoovillage-tabs
  margin-bottom: 30px
  .tabs
    display: flex
    flex-direction: row
    border: none
    .tab
      margin-right: 15px
      &.active
        opacity: 0.5
      .icon
        width: 100% !important
        height: 22px !important
        max-width: none


@media only screen and (max-width: 1024px)
  .region-sticky
    top: 0
