body, header
  background-color: $white !important

a
  color: $blue !important
  text-decoration: none

*:focus
  outline: none !important
  box-shadow: none !important

a:focus
  outline: none !important
  box-shadow: none !important
  -webkit-tap-highlight-color: transparent

a:hover, a:focus, a:active
  color: $link-active
  text-decoration: underline

.title
  color: $lighter-red
  font-weight: 700

.subtitle
  color: $grey
  font-weight: 700

