.layout-node-form__actions
  display: block !important

.views-exposed-form
  display: flex
  flex-direction: column
  .fieldset__wrapper
    display: block !important
    .form-item
      float: left
      width: 40%