.entity-content-form-revision-information
  display: none

.node__content
  .field
    margin-bottom: 16px

.node--type-team-post, .comment
  .links
    margin-left: 0
    display: flex !important
    justify-content: flex-start
    gap: 20px
    li
      padding-left: 0

.labdoo-dates-box
  margin-top: 30px
  padding: 20px
  background-color: var(--gin-bg-layer, #fcfcfc)
  border: 1px solid $border-color
  box-shadow: var(--gin-shadow-l1, 0 1px 3px rgba(0, 0, 0, 0.05))
  border-radius: 0
  &.field-group-format
    margin-top: 15px
    margin-bottom: 15px
  p
    margin-top: 0
    margin-bottom: 5px
    font-size: 0.9rem
    &:last-child
      margin-bottom: 0
    strong
      color: #495057

.labdoo-content-box
  padding: 20px
  background-color: var(--gin-bg-layer, $white)
  border: 1px solid $border-color
  box-shadow: var(--gin-shadow-l1, 0 1px 3px rgba(0, 0, 0, 0.05))
  border-radius: 0
  margin-bottom: 30px
