.main-wrapper
  display: flex
  @media only screen and (max-width: 1024px)
    display: block

.sidebar-wrapper
  position: sticky
  top: 140px

.region-sidebar
  margin-right: 40px

.region-post-content, .region-highlighted
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  @media only screen and (max-width: 1024px)
    display: block
  .block-worklog-widgets
    flex-basis: 45%
    input
      width: 100%
    .entity-meta
      display: none

.client-wrapper
  border-bottom: 1px solid white
  padding-bottom: 30px
  margin-bottom: 50px
  .project-wrapper
    margin: 15px 0 15px 30px

.region-header
  display: flex
  justify-content: flex-start
  @media only screen and (max-width: 1024px)
    display: block

  .search-overlay-block
    margin-left: 0
    order: 1

.page-wrapper
  padding-top: 0

.has-labdoo-admin-toolbar
  .page-wrapper
    padding-top: 45px

.page-content
  width: 100%

@media (min-width: 64em)
  .page-wrapper
    margin-block-start: 0 !important
