.node-revision-table
  td:last-child
    width: 1%
    white-space: nowrap

    .dropbutton-wrapper,
    .dropbutton-widget
      width: 100%
      min-width: max-content
      max-width: none

    .dropbutton-action a,
    .dropbutton-toggle button
      white-space: nowrap