.block-statistics-block-block
  .block-inner
    display: flex
    flex-wrap: wrap
    margin: 20px 0
    .attribute
      margin-right: 10px
      a
        text-decoration: none
        color: #333333 !important
      .data
        color: $light-red
        font-weight: 400
        font-size: 22px
