$white: #ffffff
$black: #000000
$green: #1e8b00
$light-green: #009900
$lighter-red: #ff0000
$red: #9a0000
$light-red: #ff0000
$grey: #dbdbdb
$blue: #0088cc
$light-blue: #3b3bff
$lighter-blue: #0088cc
$link-active: #005580
$accomplished: #34bb0f
$not-accomplished: #e53a3a
$summary-row: #e6e8ef
$summary-row-dark: #1B1B1D
$light-grey: #c2c2c2
$grey: Gray
